
.app-container {
    margin: auto;
    border: 1px dotted;
    width: 500px;
    position: relative;
    top:100px;
}
.show-box {
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: lightblue;
}
.btn-section {
    margin: auto;
    
}
.header{
    text-align: center;
}